<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
  </head>
  <body>
    <a href="https://github.com/alternaDev/crazyPI"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Welcome to <%= title %>!</h1>
        </div>
        <div class="span12">
          <p class="lead">Calculating π with YOUR help</p>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <p>
            With your help, we will be able to calculate (theoretically) all the digits of π! All you have to do is to press one of these buttons:
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <a href="#" class="btn btn-large btn-block btn-primary" id="calc50">Calculate 50 digits!</a>
        </div>
        <div class="span4">
          <a href="#" class="btn btn-large btn-block btn-warning" id="calc100">Calculate 100 digits!</a>
        </div>
        <div class="span4">
          <a href="#" class="btn btn-large btn-block btn-danger" id="calc500">Calculate 500 digits!</a>
        </div>
      </div>
      <div class="row">
        <br />
        <div class="span12">
          <div class="progress">
            <div class="bar" id="bar" style="width: 0px;"></div>
          </div>
          <hr />
        </div>
        
      </div>
      <div class="row">
        <div class="span8">
          <p>
            We already collected <strong><%= digitAmount %></strong> digits by <strong><%= peopleAmount %></strong> different contributors!
          </p>
          <p>Here's a small graph, because everybody loves graphs (it shows the added digits per day):</p>
          <br />
          <canvas id="dayChart" height="150" width="600"></canvas>
          
        </div>
        <div class="span4">
          <h4>
            #YOLO-Mode: &nbsp;
            <div class="toggle">
              <label class="toggle-radio" for="toggleOption2">ON</label>
              <input type="radio" name="toggleOptions" id="toggleOption1" value="on">
              <label class="toggle-radio" for="toggleOption1">OFF</label>
              <input type="radio" name="toggleOptions" id="toggleOption2" value="off" checked="checked">
            </div>
          </h4>
          <div id="yolo-button" style="display: none;">
            <a href="#" class="btn btn-large btn-block btn-danger" id="calc5000">Calculate five-fucking-thousand digits!</a>
            <br />
            <p>This is not guaranteed to work...might crash your browser, might kill our DB...who knows?</p>
            <img src="images/yolo-mode.jpg" />
          </div>
          <p>
            <small><strong>By the way:</strong>&nbsp; We already calculated one digit secretly when you opened this page.</small>
          </p>
        </div>
      </div>
    </div>
    
    <script src="javascripts/jquery-1.8.2.min.js"></script>
    <script src="javascripts/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="javascripts/jquery.dropkick-1.0.0.js"></script>
    <script src="javascripts/custom_checkbox_and_radio.js"></script>
    <script src="javascripts/custom_radio.js"></script>
    <script src="javascripts/Chart.min.js"></script>
    <script src="javascripts/underscore.min.js"></script>
    <script src="javascripts/parallel.min.js"></script>
    <script src="javascripts/application.js"></script>
    <script src="javascripts/pi.js"></script>
  </body>
</html>